.custom-navbar{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #222222;
  color:white;
  height: 10vh;
}
.space{
  flex-grow: 4;
}
.logo{
  flex-grow: 1;
  letter-spacing: 10px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding-left: 2%;

}
.user-info{

  display: flex;
  align-items: center;
  justify-content: end;
  padding-right:2%;
  flex-grow: 1;
  font-size: 15px;
}
.user-foto{

  font-size: 20px;

}
a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}


